.header-container {
    display: flex;
    align-items: center;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header-upnav {
    display: flex;
}

.header-nav {
    list-style: none;
    display: flex;
    gap: 50px;
}


.header-nav-link {
    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-decoration: none;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: var(--t-d);
    transition-timing-function: var(--t-t-f);
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--blue-active-color);
}

.header-is-active {
    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--blue-active-color);
    text-decoration: none;
    padding-bottom: 32px;
}

.non-active::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    background: var(--blue-active-color);
    border-radius: 2px;

    opacity: 0;

    transition-property: opacity;
    transition-duration: var(--t-d);
    transition-timing-function: var(--t-t-f);
}

.non-active:hover::after,
.non-active:focus::after {
    opacity: 1;
}

.is-active::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    background: var(--blue-active-color);
    border-radius: 2px;
    display: block;


    transition-property: opacity;
    transition-duration: var(--t-d);
    transition-timing-function: var(--t-t-f);
}


.header-nav-list {
    display: flex;
    margin-left: auto;
}

.header-nav-address {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    margin-right: 50px;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: var(--t-d);
    transition-timing-function: var(--t-t-f);
}

.header-soc-icon {
    fill: #757575;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: var(--t-d);
    transition-timing-function: var(--t-t-f);
}

.header-nav-address:hover,
.header-nav-address:focus {
    color: var(--blue-active-color);
}

.header-nav-address:hover .header-soc-icon,
.header-nav-address:focus .header-soc-icon {
    fill: var(--blue-active-color);
}

.header-nav-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: var(--t-d);
    transition-timing-function: var(--t-t-f);
}

.header-nav-contact:hover,
.header-nav-contact:focus {
    color: var(--blue-active-color);
}

.header-nav-contact:hover .header-soc-icon,
.header-nav-contact:focus .header-soc-icon {
    fill: var(--blue-active-color);
}